body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;    
}
@media screen and (max-width: 1700px){
    .imgg{
        width: 400px;
    }
    .div{
        display:inline-block;
        margin: 50px 270px 0 0;
        width: 200px;
    }
    .div2{
        display:inline-block;
        margin: 0 285px;
        color: white;
        font-size: 30px;
        width: 200px;
        text-align: center;
    }
    .button{
        color: #fff;
        font-size: 30px;
        padding: 15px 30px;
        background-color: rgb(115, 15, 15);
        border-radius: 10px;
        border: 1px solid;
        border-color: rgb(255, 0, 0);
        display: inline-block;
        margin: 100px 320px;
    }
    .button:hover{
        opacity: 0.9;
        transition: 1s;
        background-color: rgb(75, 0, 0);
        font-size: 27px;
    }
    .button1{
        color: #fff;
        font-size: 30px;
        padding: 15px 30px;
        background-color: rgb(115, 15, 15);
        border-radius: 10px;
        border: 1px solid;
        border-color: rgb(255, 0, 0);
        display:block;
        margin: 100px auto;
    }
    .button1:hover{
        opacity: 0.9;
        transition: 1s;
        background-color: rgb(75, 0, 0);
        font-size: 27px;
    }
}
@media screen and (max-width: 1280px){
    .imgg{
        width: 300px;
    }
    .div{
        display:inline-block;
        margin: 50px 200px 0 0;
        width: 150px;
    }
    .div2{
        display:inline-block;
        margin: 0 130px;
        color: white;
        font-size: 20px;
        width: 100px;
        text-align: center;
    }
    .button{
        color: #fff;
        font-size: 30px;
        padding: 12px 25px;
        background-color: rgb(115, 15, 15);
        border-radius: 10px;
        border: 1px solid;
        border-color: rgb(255, 0, 0);
        display: inline-block;
        margin: 50px 120px;
    }
    .button:hover{
        opacity: 0.9;
        transition: 1s;
        background-color: rgb(75, 0, 0);
        font-size: 27px;
    }
    .button1{
        color: #fff;
        font-size: 30px;
        padding: 15px 30px;
        background-color: rgb(115, 15, 15);
        border-radius: 10px;
        border: 1px solid;
        border-color: rgb(255, 0, 0);
        display:block;
        margin: 100px auto;
    }
    .button1:hover{
        opacity: 0.9;
        transition: 1s;
        background-color: rgb(75, 0, 0);
        font-size: 27px;
    }
}
@media screen and (max-width:980px){
    .imgg{
        width: 250px;
    }
    .div{
        display:inline-block;
        margin: 50px 100px 0 0;
        width: 100px;
    }
    .div2{
        display:inline-block;
        margin: 0 110px;
        color: white;
        font-size: 15px;
        width: 80px;
        text-align: center;
    }
    .button{
        color: #fff;
        font-size: 20px;
        padding: 10px 30px;
        background-color: rgb(115, 15, 15);
        border-radius: 10px;
        border: 1px solid;
        border-color: rgb(255, 0, 0);
        display: inline-block;
        margin: 30px 100px;
    }
    .button:hover{
        opacity: 0.9;
        transition: 1s;
        background-color: rgb(75, 0, 0);
        font-size: 27px;
    }
    .button1{
        color: #fff;
        font-size: 25px;
        padding: 10px 25px;
        background-color: rgb(115, 15, 15);
        border-radius: 10px;
        border: 1px solid;
        border-color: rgb(255, 0, 0);
        display:block;
        margin: 100px auto;
    }
    .button1:hover{
        opacity: 0.9;
        transition: 1s;
        background-color: rgb(75, 0, 0);
        font-size: 27px;
    }
}
@media screen and (max-width: 725px){
    .imgg{
        width: 170px;
    }
    .div{
        display:inline-block;
        margin: 50px 200px 0 0;
        width: 100px;
    }
    .div2{
        display:inline-block;
        margin: 0 150px;
        color: white;
        font-size: 10px;
        width: 79px;
        text-align: center;
    }
    .button{
        color: #fff;
        font-size: 15px;
        padding: 10px 20px;
        background-color: rgb(115, 15, 15);
        border-radius: 10px;
        border: 1px solid;
        border-color: rgb(255, 0, 0);
        display: inline-block;
        margin: 10px 150px;
    }
    .button:hover{
        opacity: 0.9;
        transition: 1s;
        background-color: rgb(75, 0, 0);
        font-size: 27px;
    }
    .button1{
        color: #fff;
        font-size: 20px;
        padding: 10px 20px;
        background-color: rgb(115, 15, 15);
        border-radius: 10px;
        border: 1px solid;
        border-color: rgb(255, 0, 0);
        display:block;
        margin: 70px auto;
    }
    .button1:hover{
        opacity: 0.9;
        transition: 1s;
        background-color: rgb(75, 0, 0);
        font-size: 27px;
    }
}